body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
hr{
    height: 5px; 
    background-color: black;
}
.menu{
    text-align: center; 
}
.on {
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: yellow;
}
.off {
    font-size: 18px;
    color: black;
}

h1 {
    padding-top: 3rem; 
    padding-top: 2rem; 
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
p {
    color:black;
}
a {
    text-decoration: none;
}
 .box {
    width: 420px;
    margin: auto;
    text-align: center;
 }

.product-card { 
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 1px; 
    margin-bottom: 15px;
}
.product-card:hover {
    background-color: yellow;
    font-weight:bold;
}

.product-image {
    border: 2px solid black; 
    width: 400px;
}
.product-description {
    text-align: left;
    margin: auto;
    width: 400px;
}

.product-name {
    color:black;
    text-decoration: underline;
    margin: 0;
}
.product-price {
    margin:0;
    font-weight: normal;
    
}
/* ------------------- break ---------------*/
.box-product-detail {
    width: center;
    margin: auto;
    text-align: center;
 }

.product-image-productdetail{
    border: 2px solid black; 
    width: 600px;
}

.product-description-details {
    margin: auto;
    width: 210px;
    font-size: 14px;
}
.description-details {
    text-align: left; 
}

.drop-down{
    margin: auto;
    width: 210px;
    text-align: left;
    font-size: 14px;
    line-height: 45px;
}
.glaze-group{
    line-height: 20px; 
    padding-top: 25px;
}

.pack-group{
    line-height: 20px;
    padding-top: 20px ;
    padding-bottom: 35px;
}

#dropdown-1 {
    width: 210px;
}
#dropdown-2 {
    width: 210px;
}

.cart {
    text-align: right;
    font-weight: bold;
    word-spacing: 50px;
}
button {
    background-color: yellow;
    font-weight: bold;
}

/* ------------------- break ---------------*/

.product-image-cart{
    border: 2px solid black; 
    width: 200px;

}

.product-description-details {
    width: 210px;
    font-size: 14px;
}

.product-cart {
    font-size: 14px;
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 1px; 
    margin-bottom: 15px;
}
#remove {
    text-decoration: underline;
    font-size: 10px;
    margin-top: 0;
}
