body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
hr{
    height: 5px; 
    background-color: black;
}
.menu{
    text-align: center; 
}
.on {
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: yellow;
}
.off {
    font-size: 18px;
    color: black;
}
h1 {
    padding-top: 3rem; 
    padding-top: 2rem; 
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
p {
    color:black;
}
a {
    text-decoration: none;
}
 .box {
    width: 420px;
    margin: auto;
    text-align: center;
 }

.product-card { 
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 1px; 
    margin-bottom: 15px;
}
.product-card:hover {
    background-color: yellow;
    font-weight:bold;
}

.product-image {
    border: 2px solid black; 
    width: 400px;
}
.product-description {
    text-align: left;
    margin: auto;
    width: 400px;
}

.product-name {
    color:black;
    text-decoration: underline;
    margin: 0;
}
.product-price {
    margin:0;
    font-weight: normal;
    
}
